{% load bootstrap %}

{% block content %}
<div id="requirements">
  <h4>Add New Requirement</h4>
  <form class="form-inline" id="add-new-requirement" method="post" action="{% url 'requirement_add' object_type object_id %}">
      {% csrf_token %}
      {{ requirements_form|bootstrap_inline }}
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Add New Requirement</button>
        </div>
      </div>
  </form>
  <h4>Requirements In Your Project</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Package name</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      {% for req in object_list %}
        <tr>
          <td><a href="#">{{ req.package_name }}</a></td>
          <td>{{ req.version }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  <p>Once you have added all the required dependencies, write your changes to your GitHub repository.</p>
  <a href="{% url 'requirements_write' experiment_id %}" class="btn btn-primary">Update requirements in repository</a>
{% endblock %}
