{% load bootstrap %}

{% block content %}
  <h4>Add New Dependency</h4>
  <form class="form-inline" id="add-new-requirement" method="post" action="{% url 'requirement_add' object_id object_type %}">
      {% csrf_token %}
      {{ requirements_form|bootstrap_inline }}
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Add New Requirement</button>
        </div>
      </div>
  </form>
  <h4>Dependencies In Your Project</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Package name</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      {% for req in object_list %}
        <tr>
          <td><a href="#">{{ req.package_name }}</a></td>
          <td>{% if req.version %}{{ req.version }}{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>Once you have added all the required dependencies, write your changes to your GitHub repository.</p>
  <a href="{% url 'requirements_write' object_id object_type %}" class="btn btn-primary">Update requirements in repository</a>

    <script type="text/javascript">
        $(document).ready(function() {
             $( "#id_package_name" ).autocomplete({
                  source: function (request, response) {
                           //data :: JSON list defined
                           $.post({
                                 url: "{% url 'package_autocomplete' %}",
                                 data: {query : request.term, csrfmiddlewaretoken: '{{ csrf_token }}'},
                                 success: function (data) {
                                     response($.map(data.results, function (el) {
                                         return {
                                             label: el,
                                             value: el
                                         };
                                     }));
                                 }
                             });
                        },
                  autoFocus: true
                });
        });
    </script>

{% endblock %}
