{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% block title %}Create New Package{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Create New Package" "internalpackage_create_fromexperiment" %}
{% endblock %}

{% block content %}

    <h2>Create New Package</h2>
    {% if not external %}
        <p class="lead">When you create the new package, a new GitHub repository is created for your module and the
            package is added to the Packages section in the workbench.</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class='input-field'>
            <button type="submit" value="Save" class="btn btn-primary">Create New Package</button>
        </div>
    </form>

{% endblock %}
