{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% block title %}Create New Package{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Create New Package" "internalpackage_create_fromexperiment" %}
{% endblock %}

{% block content %}

    <h2>What type of package do you want to create?</h2>
    <div class="row">
        <div class="col-md-6"><p class="lead">Create an Internal Package, where you write your own code
        that you can share with other researchers and colleagues with ease</p>
        <a href="{% url "internalpackage_create" %}" class="btn btn-primary">Create an Internal Package</a>
        </div>
        <div class="col-md-6"><p class="lead">Create an existing, external package, to let your colleagues know of a
            useful package, e.g. Pandas, Numpy, etc.</p>

        <a href="{% url "externalpackage_new" %}" class="btn btn-primary">Create an External Package</a></div>
    </div>

{% endblock %}
