language: python
python:
  - "3.6"
services:
  - redis-server
install:
  - pip install -r requirements.txt
script:
  - coverage run --source=BuildManager,DocsManager,ExperimentsManager,Feedback,GitManager,Marketplace,QualityManager,RequirementsManager,UserManager,ExperimentHelper,helpers manage.py test

after_success:
  coveralls
