language: python
python:
  - "3.6"
services:
  - redis-server
install:
  - pip install -r requirements.txt
  - sh travis/setup.sh
script:
  - coverage run --source=build_manager,coverage_manager,docs_manager,experiments_manager,feedback,git_manager,marketplace,quality_manager,requirements_manager,user_manager, manage.py test

after_success:
  coveralls
