{% extends 'marketplace/package_detail/package_detail.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Dashboard' "internalpackage_dashboard" package.id %}
{% endblock %}

{% block content %}
    {% include "marketplace/package_detail/package_detail_tabs.html" %}


    <div class="row">
        <h3>Package publication</h3>
        {% if not object.published %}
            <p class="lead">Only if you publish your package, will your colleagues be able to use and install the package locally. You can publish this package now:</p>
            <a href="{% url "internalpackage_checklist" package.id %}" class="btn btn-primary">Publish My Package</a>
        {% else %}
            <p class="lead">This package is published on the Workbench pip server, making it installable by others.</p>
            <a href="#" class="btn btn-danger">Remove My Package</a>
        {% endif %}
    </div>

    <p></p>

    <div class="row">
        <h3>Package Settings</h3>
        <div class="col-md-9">
            <div class="panel panel-default">
            <div class="panel-heading">Settings</div>
              <div class="panel-body">
                <form action="{% url 'internalpackage_update' package.id %}" method="post">
                    {% csrf_token %}
                    {{ edit_form|bootstrap }}
                    <button class="btn btn-primary" value="Save">Save changes</button>
                </form>
              </div>
            </div>
        </div>
    </div>


    <div class="row">
        <h3>Workbench services</h3>

        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">Automated builds</div>
                  <div class="panel-body"  id="ci">
                    Loading...
                  </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">Documentation</div>
                  <div class="panel-body"  id="docs">
                    Loading...
                  </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            url_dict = {
              'ci': "{% url 'build_status' package.id object_type %}",
              'docs': "{% url 'docs_status' package.id object_type %}",
            };

            $("#ci").load(url_dict['ci']);
            $("#docs").load(url_dict['docs']);
        })
    </script>
{% endblock %}