<div class="row">
    <div class="col-md-6">
        <h2>Package: {{ package.name }}</h2>
    </div>
    <div class="col-md-6">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Package Options
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    {% if not workbench_user in object.subscribed_users.all %}
                        <a href="{% url 'package_subscribe' package.id %}">Subscribe for updates</a>
                    {% else %}
                        <a href="{% url 'package_subscribe' package.id %}">Unsubscribe</a>
                    {% endif %}
                </li>
                <li>{% if is_internal and object.published %}
                    <a href="#" data-toggle="modal" data-target="#dependency-modal">Add Package To My Project</a>
                {% elif is_internal %}
                    This package is not yet published.
                {% endif %}</li>
            </ul>
        </div>

        <a href="{% url 'package_recommend' package.id %}" class="btn btn-default"><i
                class="glyphicon glyphicon-thumbs-up"></i> Recommend this package</a>
        Recommended {{ package.recommendations.count }}x times
    </div>
</div>

<ul class="nav nav-tabs">
    <li class="{% if index_active %}active{% endif %}"><a href="{{ package.get_absolute_url }}">Index</a></li>
    <li class="{% if resources_active %}active{% endif %}"><a href="{% url 'packageresource_list' package.id %}"
                                                              class="tab-btn">Resources</a></li>
    {% if is_internal %}
        <li class="{% if dependencies_active %}active{% endif %}"><a
                href="{% url "package_dependencies" package.id object_type %}" class="tab-btn">Dependencies</a></li>
    {% endif %}
    <li class="{% if versions_active %}active{% endif %}"><a href="{% url "packageversion_list" package.id %}"
                                                             class="tab-btn">Versions</a></li>
    {% if request.user == package.owner.user and is_internal %}
        <li class="{% if dashboard_active %}active{% endif %}"><a
                href="{% url 'internalpackage_dashboard' package.id %}" class="tab-btn">Dashboard</a></li>
    {% endif %}
</ul>
<p>
</p>