{% extends 'marketplace/package_detail/package_detail.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Version history of {{ package }}{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Version history" "packageresource_list" %}
{% endblock %}


{% block content %}

    {% include "marketplace/package_detail/package_detail_tabs.html" %}

    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Version history</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <th>Version nr</th>
                        <th>Date added</th>
                    </thead>
                    {% for version in object_list %}
                        <tr>
                            <td>
                                <a href="#" class="version-btn" data-toggle="modal" data-target="#version-modal" data-url="{% url 'packageversion_detail' version.pk package.pk %}">{{ version.version_nr }}</a>
                            </td>
                            <td>
                                {{ version.created }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% if is_internal and package.owner.pk is workbench_user.pk %}
                    <a href="{% url 'internalpackageversion_new' package.pk %}" class="btn btn-default">Add New Version</a>
                {% elif not is_internal %}
                    <a href="{% url 'packageversion_new' package.pk %}" class="btn btn-default">Add New Version</a>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="version-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">View version of package</h4>
          </div>
          <div class="modal-body">
                <div id="version-information">Loading...</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
            </div>
        {% endif %}
    {% endblock %}

       <script type="text/javascript">
        $(document).ready(function() {
            $('.version-btn').click(function() {
                fetch_url = $(this).attr('data-url');
                $("#version-information").load(fetch_url);
            });
        });
    </script>
{% endblock %}
