{% extends 'marketplace/package_detail/package_detail.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Package Resources" "packageresource_list" %}
{% endblock %}


{% block content %}
  <h2>Package Resources</h2>
<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#index">Index</a></li>
        <li><a href="{% url 'internalpackage_dashboard' object.pk %}" class="tab-btn" id="schema-click">Resources</a></li>
        <li><a data-toggle="tab" href="#requirements" class="tab-btn" id="requirements-click">Dependencies</a></li>
        <li><a data-toggle="tab" href="#requirements" class="tab-btn" id="requirements-click">Versions</a></li>
        {% if request.user == object.owner.user and is_internal %}
            <li><a  href="{% url 'internalpackage_dashboard' object.pk %}" class="tab-btn" id="dashboard-click">Dashboard</a></li>
        {% endif %}
    </ul>
  {% for resource in object_list %}
            <div class="panel panel-primary">
                <div class="panel-heading">Resource by {{ resource.added_by }}</div>
                <div class="panel-body">
                    <p>{{ resource.markdown|safe|truncatechars:55 }}</p>
                </div>
                <div class="panel-footer">Resource URL: <a href="{{ resource.url }}">{{ resource.url }}</a></div>
            </div>
        {% endfor %}

  {% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}
{% endblock %}
