{% extends 'marketplace/package_detail/package_detail.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Package Resources" "packageresource_list" package.id %}
{% endblock %}


{% block content %}

    {% include "marketplace/package_detail/package_detail_tabs.html" %}

    <p class="lead">Found a useful blog, website or other information that you wish to share with others?</p>
    <p><a href="{% url 'packageresource_new' object.pk %}" class="btn btn-primary">Add New Resource</a></p>
    {% for resource in object_list %}

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Resource by {{ resource.added_by }} created at {{ resource.created }}</div>
                    <div class="panel-body">
                        <p>{{ resource.markdown|safe|truncatechars:150 }}</p>
                    {% if resource.url %}
                        Resource URL: <a href="{{ resource.url }}">{{ resource.url }}</a>
                    {% endif %}
                    </div>
                        <div class="panel-footer"><a href="{% url "packageresource_detail" resource.pk %}">View complete resource</a>
                        </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
