{% extends 'marketplace/package_detail/package_detail.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% block content %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add new package version" "internalpackageversion_new" package.id %}
{% endblock %}

<h2>Add Package Version</h2>

<form action="" method="post">{% csrf_token %}
    {{ form|bootstrap }}
    <div class='input-field'>
      <button type="submit" value="Save" class="btn btn-primary">Save</button>
    </div>
</form>

{% endblock %}
