{% extends 'marketplace/package_detail/package_detail.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Package Resources" "packageresource_list" %}
{% endblock %}


{% block content %}

    {% include "marketplace/package_detail/package_detail_tabs.html" %}

    {% for resource in resources %}
        <div class="panel panel-default">
            <div class="panel-heading">Resource by {{ resource.added_by }}</div>
            <div class="panel-body">
                <p>{{ resource.markdown|safe|truncatechars:55 }}</p>
            </div>
            <div class="panel-footer">Resource URL: <a href="{{ resource.url }}">{{ resource.url }}</a></div>
        </div>
    {% endfor %}

    <p class="lead">Found a useful blog, website or other information that you wish to share with others?</p>
    <p><a href="{% url 'packageresource_new' object.pk %}" class="btn btn-default">Add New Resource</a></p>
    {% for resource in object_list %}
        <div class="panel panel-primary">
            <div class="panel-heading">Resource by {{ resource.added_by }}</div>
            <div class="panel-body">
                <p>{{ resource.markdown|safe|truncatechars:55 }}</p>
            </div>
            <div class="panel-footer">Resource URL: <a href="{{ resource.url }}">{{ resource.url }}</a></div>
        </div>
    {% endfor %}

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
