{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2>Dashboard</h2>
            <p class="lead" data-intro="Make sure to regularly check the dashboard, to see how you are doing" data-step="7">The MOOC workbench scans the progress of your experiment regularly.
                It checks your results from CI, your dependencies, your tests and more.</p>
        </div>

        <div class="col-md-3">
            <h3>Refresh</h3>
            <a href="#" id="refresh" class="btn btn-default">Refresh this data</a>
            <span id="refresh-message"></span>
        </div>
    </div>
    <hr/>

    <div class="row" data-last>
        <div class="col-md-6">
            <div class="panel panel-primary" data-intro="Here you can see quick actions that you can do right now to improve your experiment">
                <div class="panel-heading">What to do now?</div>
                <div class="panel-body">
                    <p>Check out this repository using git clone</p>
                    {% for what_now in what_now_list %}
                        {% if what_now %}
                            <p>{{ what_now }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-{% if dashboard_messages.static_code_analysis %}{{ dashboard_messages.static_code_analysis.get_class }}{% else %}default{% endif %}"
                        data-intro="For example, the workbench automatically performs static code analysis on your experiment. Here you can see these results.">
                <div class="panel-heading">Static code analysis</div>
                <div class="panel-body">
                    <p class="lead">{{ dashboard_messages.static_code_analysis.get_message }}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-{% if dashboard_messages.documentation %}{{ dashboard_messages.documentation.get_class }}{% else %}default{% endif %}">
                <div class="panel-heading">Documentation</div>
                <div class="panel-body">
                    <p class="lead">{{ dashboard_messages.documentation.get_message }}</p>
                    <div id="docs-dashboard">
                        Loading...
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-{% if dashboard_messages.dependencies_defined %}{{ dashboard_messages.dependencies_defined.get_class }}{% else %}default{% endif %}">
                <div class="panel-heading">Dependencies</div>
                <div class="panel-body">
                    <p class="lead">{{ dashboard_messages.dependencies_defined.get_message }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-{% if dashboard_messages.version_control_use %}{{ dashboard_messages.version_control_use.get_class }}{% else %}default{% endif %}">
                <div class="panel-heading">Version control</div>
                <div class="panel-body">
                    <p class="lead">{{ dashboard_messages.version_control_use.get_message }}</p>
                    <div id="vcs-dashboard">
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-{% if dashboard_messages.use_of_ci %}{{ dashboard_messages.use_of_ci.get_class }}{% else %}default{% endif %}"
            data-intro="The same holds for Continuous integration, which automatically runs all your tests in the cloud...">
                <div class="panel-heading">Continuous integration</div>
                <div class="panel-body">
                    <p class="lead">{{ dashboard_messages.use_of_ci.get_message }}</p>
                    <div id="ci-dashboard">
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-{% if dashboard_messages.testing %}{{ dashboard_messages.testing.get_class }}{% else %}default{% endif %}"
            data-intro="...and measures the code you've covered with your tests.">
                <div class="panel-heading">Code coverage</div>
                <div  class="panel-body">
                    <p class="lead">{{ dashboard_messages.testing.get_message }}</p>
                    <div id="coverage-dashboard">
                        <p>Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript'>
        $(document).ready(function () {
            url_dict = {
                'ci': "{% url 'build_status' object.id object_type %}",
                'docs': "{% url 'docs_status' object.id object_type %}",
                'vcs': "{% url 'vcs_overview' object.id %}",
                'coverage': "{% url 'coveralls_status' object.id object_type %}"
            };

            $("#docs-dashboard").load(url_dict['docs']);
            $("#ci-dashboard").load(url_dict['ci']);
            $("#vcs-dashboard").load(url_dict['vcs']);
            $("#coverage-dashboard").load(url_dict['coverage']);

            $('#refresh').click(function () {
                $.get({
                    url: "{% url 'measurements_refresh' active_step_id %}",
                    success: function (data) {
                        if (data.refresh) {
                            $('#refresh-message').text("Refreshing data...")
                        }
                    }
                })
            })

        });
    </script>
{% endblock %}
