{% load bootstrap %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <p class="lead">Your recent commits</p>
    <canvas id="myChart" width="300" height="300"></canvas>
  </div>
</div>
  <script type='text/javascript'>
    $(document).ready(function() {

      $.get({
        url: "{% url 'nr_of_commits' object.id %}",
        success: function(data) {
          build_chart(data.keys, data.values);
        },
      });

      function build_chart(keys, values) {
        var ctx = $("#myChart");
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: keys,
            datasets: [{
                label: '# of commits',
                data: values,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
      });
    }

  });
</script>
{% endblock %}
