{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% load comments %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.name "package_detail" object.id %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Package: {{ object.name }}</h2>
            </div>
            <div class="col-md-6">
                {% if not workbench_user in object.subscribed_users.all %}
                    <a href="{% url 'package_subscribe' object.pk %}" class="btn btn-default">Subscribe for updates</a>
                {% else %}
                    <a href="{% url 'package_subscribe' object.pk %}" class="btn btn-default">Unsubscribe</a>
                {% endif %}

                <a href="#" class="btn btn-default" data-toggle="modal" data-target="#dependency-modal">Add Package To My Project</a>
            </div>
        </div>
        <p>
            {% if request.user == object.owner.user %}
                <a href="{% url 'internalpackage_dashboard' object.pk %}" class="btn btn-primary">Go To Package Dashboard</a>
            {% endif %}
        </p>

        <p class="lead">{{ object.description }}</p>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">General information</div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td>Created by</td>
                                <td>{{ object.owner }}</td>
                            </tr>
                            <tr>
                                <td>Added at</td>
                                <td>{{ object.created }}</td>
                            </tr>
                            <tr>
                                <td>Category</td>
                                <td>{{ object.category }}</td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td>{{ object.language }}</td>
                            </tr>
                            <tr>
                                <td>Documentation</td>
                                <td>Read Package Documentation</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">Version history</div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Version nr</th>
                                <th>Date added</th>
                            </tr>
                            {% for version in version_history %}
                                <tr>
                                    <td>
                                        <a href="#" class="version-btn" data-toggle="modal" data-target="#version-modal" data-url="{% url 'packageversion_detail' version.pk object.pk %}">{{ version.version_nr }}</a>
                                    </td>
                                    <td>
                                        {{ version.created }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <a href="{% url 'internalpackageversion_new' object.pk %}" class="btn btn-default">Add New Version</a>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <h3>Package resources</h3>
        <p><a href="#">View all resources for this package</a></p>

        {% for resource in resources %}
            <div class="panel panel-info">
                <div class="panel-heading">Resource by {{ resource.added_by }}</div>
                <div class="panel-body">
                    <p>{{ resource.markdown|safe|truncatechars:55 }}</p>
                </div>
                <div class="panel-footer">Resource URL: <a href="{{ resource.url }}">{{ resource.url }}</a></div>
            </div>
        {% endfor %}

        <p>Found a useful blog, website or other information that you wish to share with others?</p>
        <p><a href="{% url 'packageresource_new' object.pk %}" class="btn btn-default">Add a New Resource</a></p>

        <hr />

        <h3>Comments</h3>
        {% get_comment_form for object as comment_form %}
        <div class="container" style="margin-bottom:20px">
            <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="id_comment">Comment</label>
                    <textarea class="form-control" id="id_comment" maxlength="300" style="width:300px" name="comment" rows="5" required=""></textarea>
                </div>
                {{ comment_form.content_type }}
                {{ comment_form.object_pk }}
                {{ comment_form.timestamp }}
                {{ comment_form.security_hash }}
                <input type="submit" name="submit" value="Leave Comment" class="btn btn-primary">
            </form>
        </div>

        <div class="container">
            {% get_comment_list for object as comment_list %}
            {% for comment in comment_list %}
                <div class="row">
                    <div class="col-sm-1">
                        <div class="thumbnail">
                            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                        </div><!-- /thumbnail -->
                    </div><!-- /col-sm-1 -->

                    <div class="col-sm-9 col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ comment.user }}</strong> <span class="text-muted">{{ comment.submit_date }}</span>
                            </div>
                            <div class="panel-body">
                                {{ comment.comment }}
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                </div>
            {% endfor %}
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="dependency-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Install and Use Package {{ object.name }}</h4>
      </div>
      <div class="modal-body">
        Choose an experiment to install this package to:
          {{ experiment_select_form|bootstrap }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="save-install-package">Install Package</button>
      </div>
    </div>
  </div>
</div>

    <!-- Modal -->
<div class="modal fade" id="version-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">View version of package</h4>
      </div>
      <div class="modal-body">
            <div id="version-information">Loading...</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Install Package</button>
      </div>
    </div>
  </div>
</div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.version-btn').click(function() {
                fetch_url = $(this).attr('data-url');
                $("#version-information").load(fetch_url);
            });

            $('#save-install-package').click(function() {
                var selected_val = $( "#id_experiments option:selected" ).val();
                $.post({
                    url: '{% url 'internalpackage_install' object.pk %}',
                    data: {
                        experiment_id: selected_val,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data) {
                        if (data.added) {
                            location.reload();
                        }
                    }
                })
            });
        });
    </script>
{% endblock %}