{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Your Packages" "package_list" %}
{% endblock %}


{% block content %}
  <h2>Your Packages</h2>
  <table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Latest version</td>
            <td>Created at</td>
        </tr>
    </thead>
    <tbody>
    {% for package in object_list %}
        <tr>
            <td>
                <b><a href="{% url 'package_detail' package.pk %}">{{ package.name }}</a></b>
            </td>
            <td>
                {{ package.get_latest_package_version }}
            </td>
            <td>
                {{ package.created }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
