{% extends 'marketplace/internalpackage_detail.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% load comments %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Dashboard' "internalpackage_dashboard" object.id %}
{% endblock %}

{% block content %}
    <h2>{{ object.package_name }}</h2>

    <h3>Settings</h3>
    <form action="{% url 'internalpackage_update' object.id %}" method="post">
        {% csrf_token %}
        {{ edit_form|bootstrap }}
        <button class="btn btn-primary" value="Save">Save changes</button>
    </form>

    <h3>Workbench services</h3>
    <div id="requirements">
        Loading...
    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            url_dict = {
              'dashboard': "{% url 'dashboard' object.id %}",
              'requirements': "{% url 'requirements_list' object.id object_type %}",
              'readme': "{% url 'readme_view' object.id %}",
            };

            $("#requirements").load(url_dict['requirements']);
        })
    </script>
{% endblock %}