{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block marketplace_active %}active{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Packages" "marketplace_index" %}
{% endblock %}


{% block content %}
    <h2>Packages</h2>
    <p class="lead">
        Find useful packages for your research, track packages for new versions and find resources for your favorite
        packages.
    </p>

    <div class="container">
        <div class="row">
            <div class="col-md-6 rounded">
                <div class="panel panel-default">
                    <div class="panel-heading">New internal packages</div>
                    <div class="panel-body">
                        {% for package in new_internal_packages %}
                            <p class="lead"><b><a href="{{ package.get_absolute_url }}"
                                      class="text-primary">{{ package.name }}</a></b></p>
                            {% empty %}
                            <p class="lead">There aren't any internal packages yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-6 rounded">
                <div class="panel panel-default">
                    <div class="panel-heading">New external packages</div>
                    <div class="panel-body">
                        {% for package in new_packages %}
                            <p class="lead"><b><a href="{% url 'externalpackage_detail' package.pk %}"
                                      class="text-primary">{{ package.name }}</a></b></p>
                            {% empty %}
                            <p class="lead">There aren't any external packages yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 rounded">
                <div class="panel panel-default">
                    <div class="panel-heading">Package Updates</div>
                    <div class="panel-body">
                        {% for package_version in recent_updates %}
                            <p class="lead"><b><a
                                    href="{{ package_version.get_absolute_url }}">{{ package_version }}</a></b>
                            </p>
                            {% empty %}
                            <p class="lead">There aren't any package updates yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 rounded">
                <div class="panel panel-default">
                    <div class="panel-heading">New resources</div>
                    <div class="panel-body">
                        {% for resource in recent_resources %}
                            <p class="lead"><b><a href="{{ resource.get_absolute_url }}">{{ resource }}</a></b>
                            </p>
                            {% empty %}
                            <p class="lead">There aren't any resources yet.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <a href="{% url 'package_new' %}" class='btn btn-primary'>Create New External Package</a>
        <a href="{% url "internalpackage_list" %}" class="btn btn-default">View your packages</a>

    </div>
{% endblock %}
