{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block marketplace_active %}active{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "MOOC marketplace" "marketplace_index" %}
{% endblock %}


{% block content %}
  <h2>MOOC marketplace</h2>
  <p class="lead">
      Find useful packages for your research, track packages for new versions and find resources for your favorite packages.
  </p>

    <a href="{% url "internalpackage_list" %}" class="btn btn-primary">View your packages</a>

  <div class="container">
    <div class="row">
    <div class="col-md-3 rounded" style="height:400px;margin-bottom:30px;">
      <h3>New packages from other researchers</h3>
        <ul>
          {% for package in new_internal_packages %}
            <li><b><a href="{% url 'package_detail' package.pk %}" class="text-primary">{{ package.name }}</a></b></li>
          {% endfor %}
        </ul>
    </div>

    <div class="col-md-3 rounded" style="height:400px;margin-bottom:30px;">
      <h3>New external packages</h3>
        <ul>
          {% for package in new_packages %}
            <li><b><a href="{% url 'package_detail' package.pk %}" class="text-primary">{{ package.name }}</a></b></li>
          {% endfor %}
        </ul>
  </div>

    <div class="col-md-3 rounded" style="height:400px">
      <h3>Updated packages</h3>
        <ul>
          {% for package_version in recent_updates %}
            <li><b><a href="{% url 'package_detail' package_version.package.pk %}">{{ package_version }}</a></b></li>
          {% endfor %}
        </ul>
  </div>

    <div class="col-md-3 rounded" style="height:400px">
      <h3>New resources</h3>
        <ul>
          {% for resource in recent_resources %}
            <li><b><a href="{% url 'package_detail' resource.package.pk %}">{{ resource.added_by }}</a></b></li>
          {% endfor %}
        </ul>
  </div>
</div>

  <h3>Submit your package</h3>
    <p class="lead">Do you have a favorite package that is missing? Please add and share it!</p>
    <a href="{% url 'package_new' %}" class='btn btn-primary'>Create New Package</a>

</div>
{% endblock %}
