{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block marketplace_active %}active{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "MOOC Marketplace" "marketplace_index" %}
{% endblock %}


{% block content %}
  <h2>MOOC Marketplace</h2>
  Find useful packages for your research, track packages for new versions and find resources for your favorite packages.

  <div class="container">
    <div class="row">
    <div class="col-md-3 rounded" style="height:400px;margin-bottom:30px;">
      <h3>New Internal Packages</h3>
        <ul>
          {% for package in new_internal_packages %}
            <li><b><a href="{% url 'package_detail' package.pk %}" class="text-primary">{{ package.package_name }}</a></b></li>
          {% endfor %}
        </ul>
    </div>

    <div class="col-md-3 rounded" style="height:400px;margin-bottom:30px;">
      <h3>New Packages</h3>
        <ul>
          {% for package in new_packages %}
            <li><b><a href="{% url 'package_detail' package.pk %}" class="text-primary">{{ package.package_name }}</a></b></li>
          {% endfor %}
        </ul>
  </div>

    <div class="col-md-3 rounded" style="height:400px">
      <h3>Updated Packages</h3>
        <ul>
          {% for package_version in recent_updates %}
            <li><b><a href="{% url 'package_detail' package_version.package.pk %}">{{ package_version }}</a></b></li>
          {% endfor %}
        </ul>
  </div>

    <div class="col-md-3 rounded" style="height:400px">
      <h3>New Resources</h3>
        <ul>
          {% for resource in recent_resources %}
            <li><b><a href="{% url 'package_detail' resource.package.pk %}">{{ resource.added_by }}</a></b></li>
          {% endfor %}
        </ul>
  </div>
</div>
  <h2>Submit your package</h2>
  Do you have a favorite package that is missing? Please add and share it!
  <a href="{% url 'package_new' %}" class='btn btn-primary'>Create New Package</a>

</div>
{% endblock %}
