{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Package List" "package_list" %}
{% endblock %}


{% block content %}
  <h2>Packages</h2>
  <ul>
    {% for package in object_list %}
      <li><b><a href="{% url 'package_detail' package.pk %}">{{ package.name }}</a></li>
    {% endfor %}
  </ul>

  <h2>Submit your package</h2>
  <a href="{% url 'package_new' %}" class='btn btn-primary'>Create New Package</a>
{% endblock %}
