{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Package List{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Package List" "package_list" %}
{% endblock %}


{% block content %}
    <h2>Package List</h2>
    {% for package in object_list %}
        <p class="lead"><a href="{% url 'package_detail' package.pk %}">{{ package.name }}</a></p>
    {% endfor %}

    {% block pagination %}
            {% if is_paginated %}
                <ul class="pagination">
                {% for page in page_obj.paginator.page_range %}
                    <li {% if page == page_obj.number %}class="active"{% endif %}><a href="{{ request.path }}?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
    {% endblock %}

    <p><a href="{% url 'package_new' %}" class='btn btn-primary'>Create New Package</a></p>


{% endblock %}
