{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Create New Package" "package_new" %}
{% endblock %}

{% block content %}

<h2>Create New Package</h2>

<form action="" method="post">{% csrf_token %}
    {{ form|bootstrap }}
    <div class='input-field'>
        <p>When you create the new package, a new GitHub repository is created for your module and the package is added to the MOOC Marketplace in the workbench.</p>
      <button type="submit" value="Save" class="btn btn-primary">Create New Package</button>
    </div>
</form>

{% endblock %}
