{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Create New Package" "internalpackage_create" %}
{% endblock %}

{% block content %}

<h2>Create New Package</h2>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <div class='input-field'>
        <p>When you create the new package, a new GitHub repository is created for your module and the package is added to the MOOC Marketplace in the workbench.</p>
      <button type="submit" value="Save" class="btn btn-primary">Create New Package</button>
    </div>
</form>

{% endblock %}
