{% extends 'marketplace/package_detail/packageresource_list.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object "packageresource_detail" object.pk %}
{% endblock %}


{% block content %}

    {% include "marketplace/package_detail/package_detail_tabs.html" %}
    <h1>Resource {{ object }}</h1>

    <a href="{% url 'packageresource_recommend' object.id %}" class="btn btn-default"><i
            class="glyphicon glyphicon-thumbs-up"></i> Recommend this resource</a>
    Recommended {{ package.recommendations.count }}x times

    <div>
        {{ object.markdown|safe }}
    </div>
{% endblock %}
