{% extends 'marketplace/marketplace_index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.name "package_detail" object.id %}
{% endblock %}

{% block content %}

  <h3>Publishing package</h3>
    <p class="lead">In order to publish the package, ensure that the following aspects are taken care of:</p>
    <ul>
        <li><a href="#">Ensure that it is clear how someone can use your package in their project by documenting the main functions</a></li>
        <li><a href="#">Ensure you have defined the required dependencies for your package</a></li>
        <li><a href="#">Write a short Getting started guide for new users, with small examples how to use the package</a></li>
    </ul>

    <a href="#" class="btn btn-success">I have done all these things and want to publish my package</a>

{% endblock %}