{% extends "base.html" %}

{% block content %}
    <h2>Browse Git repository</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    File/Folder name
                </th>
                <th>
                    Git commit
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in contents %}
            <tr>
                <td>
                    {% if not item.isdir %}
                        <a href="/experiment/file/{{ pk }}?file_name={{ item.file }}">{{ item.file }}</a>
                    {% else %}
                        <a href="/experiment/folder/{{ pk }}?folder_name={{ item.file }}">{{ item.file }}</a>
                    {% endif %}
                </td>
                <td>
                    {{ item.hash }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </table>

{% endblock %}