{% load bootstrap %}

{% if not completed %}
    <h3>Define your data schema</h3>
    <p class="lead">Define the data schema of your CSV files, by selecting which column in the CSVs correspond to which data type,
    such as a String, Number or DateTime.</p>

    <h4>Your Data Schema</h4>
    <p>
        <button class="btn btn-primary" id="enable-edit" data-edit-mode="false">Edit Data Schema</button>
    </p>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Data Type</td>
            <td>PK</td>
            <td>Req.</td>
            <td>Title</td>
            <td>Desc.</td>
            <td>Unique?</td>
            <td>Format</td>
            <td>Minimum</td>
            <td>Maximum</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for object in data_schema_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.datatype }}</td>
            <td>{{ object.primary_key }}</td>
            <td>{{ object.constraints.required }}</td>
            <td>{{ object.title }}</td>
            <td>{{ object.description }}</td>
            <td>{{ object.constraints.unique }}</td>
            <td>{% if object.constraints.format is not None %}{{ object.constraints.format }}{% endif %}</td>
            <td>{% if object.constraints.minimum is not None %}{{ object.constraints.minimum }}{% endif %}</td>
            <td>{% if object.constraints.maximum is not None %}{{ object.constraints.maximum }}{% endif %}</td>
            <td><a href="#" class="edit-field-link" style="display:none;" data-url="{% url "dataschemafield_edit" object.id experiment_id %}" data-toggle="modal"
                                           data-target="#edit-field-modal"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if not completed %}
<a href="#" style="display:none;" data-toggle="modal" class="add-field btn btn-default"
                                           data-target="#add-field-modal"><span class="glyphicon glyphicon-plus"></span> Add new field</a>


<div class="modal fade" id="edit-field-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Data Schema Field</h4>
      </div>
      <div class="modal-body">
        <div class="edit-field">Loading...</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="add-field-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Data Schema Field</h4>
      </div>
      <div class="modal-body">
        <form action="{% url "dataschemafield_new" experiment_id %}" method="post">{% csrf_token %}
            {{ form|bootstrap_inline }}
            {{ constraint_form|bootstrap_inline }}
            <input type="submit" class="btn btn-primary" value="Create New Field" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function() {
        var hash = window.location.hash;

        if (hash === '#edit') {
            enableEditMode()
        }

        $('.edit-field-link').click(function() {
            var editUrl = $(this).attr('data-url');
            $('.edit-field').load(editUrl);
        });

        $('#enable-edit').click(function() {
            edit_mode = $(this).attr('data-edit-mode');
            if (edit_mode === 'true') {
                diableEditMode();
            } else {
                enableEditMode()
            }
        });

        function enableEditMode() {
            $('.edit-field-link').show();
            $('.add-field').show();
            $('#enable-edit').text('Stop Editing and Save to GitHub');
            $('#enable-edit').attr('data-edit-mode', true);
            window.location.hash = 'edit';
        }

        function diableEditMode() {
            $('.edit-field-link').hide();
            $('.add-field').hide();
            $('#enable-edit').text('Edit Data Schema');
            $('#enable-edit').attr('data-edit-mode', false);
            $.get({
                    url: '{% url "dataschema_write" experiment_id %}',
                    success: function(data) { }
                });
        }
    });
</script>
{% endif %}