{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% block title %}Register{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Register a new account" "register" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Create an account</h2>
            <form method="post" action="{% url "register" %}">
                {% csrf_token %}
                {{ form|bootstrap }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create an account</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}