{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% load socialaccount %}
{% block title %}User profile of {{ w_user }}{% endblock %}

{% block my_account_active %}active{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb w_user "view_profile" %}
{% endblock %}

{% block content %}

    <h1>User profile of {{ w_user }}</h1>

    <table class="table table-bordered">
        <tr>
            <td>Email address</td>
            <td>{{ w_user.user.email }}</td>
        </tr>
        <tr>
            <td>Net ID</td>
            <td>{{ w_user.netid }}</td>
        </tr>
    </table>


    <h2>Experiments from {{ w_user.user.username }}</h2>
    {% for experiment in experiments %}
        <p class="lead"><a href="{{ experiment.get_absolute_url }}">{{ experiment }}</a></p>
    {% endfor %}

    <h2>Packages from {{ w_user.user.username }}</h2>
    {% for package in packages %}
        <p class="lead"><a href="{{ package.get_absolute_url }}">{{ package }}</a></p>
    {% endfor %}

    <h2>Connected accounts</h2>

     <div class="row">
            <div class="col-md-6">
                {% for account in w_user.user.socialaccount_set.all %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">Account provider: GitHub</div>
                        <div class="panel-body">
                            <p style="float:left;margin:10px;"><img width="50" height="50"
                                                                    src="{{ account.get_avatar_url }}"/></p>
                            <p>UID: <a href="{{ account.extra_data.link }}">{{ account.uid }}</a></p>
                            <p>Username: {{ account.extra_data.login }}</p>
                            <p>GitHub Profile:
                                <a href="{{ account.extra_data.html_url }}">{{ account.extra_data.html_url }}</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endblock %}
