{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load bootstrap %}
{% load socialaccount %}

{% block my_account_active %}active{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "My Account" "view_my_profile" %}
{% endblock %}

{% block content %}
<div class="row">
    <h1>{{ workbench_user.user.username }}</h1>
    <table class="table table-bordered">
        <tr>
            <td>Email address</td>
            <td>{{ workbench_user.user.email }}</td>
        </tr>
        <tr>
            <td>Net ID</td>
            <td>{{ workbench_user.netid }}</td>
        </tr>
    </table>

    <p><a href="{% url "edit_profile" %}" class="btn btn-primary">Edit profile</a></p>
</div>
<div class="row">

    <h3>Connected accounts</h3>

    <p><a href="/accounts/social/connections/" class="btn btn-primary">Manage social connections</a></p>
    <div class="col-md-6">
        {% for account in user.socialaccount_set.all %}
        <div class="panel panel-primary">
            <div class="panel-heading">Account provider: GitHub</div>
            <div class="panel-body">
                <p style="float:left;margin:10px;"><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
                <p>UID: <a href="{{ account.extra_data.link }}">{{ account.uid }}</a></p>
                <p>Username: {{ account.extra_data.login }}</p>
                <p>GitHub Profile:
                    <a href="{{ account.extra_data.html_url }}">{{ account.extra_data.html_url }}</a></p>
                {% empty %}
                <a href="{% provider_login_url "github" process="connect" %}" class="btn btn-primary">Connect with GitHub</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
