{% load bootstrap %}

{% block content%}
  {% if not configured %}
    <p>You have not enabled automatic Travis CI builds.</p>

    <h4>Step 1. Sign in</h4>
      <p>Sign in at least once into Travis CI with your GitHub account in order to enable automatic builds of your experiment:</p>
      <p><a href="https://travis-ci.org/" target="_blank" class="btn btn-primary">Sign in to Travis CI and sync your repos</a></p>

    <h4>Step 2. Enable builds</h4>
      <p>Once you're signed in and synced your repos, enable builds now:</p>
      <p><a href="#" class="btn btn-primary" id='enable-builds'>Enable now</a></p>

  {% else %}
    <p><img src='https://travis-ci.org/{{ username }}/{{ reposlug }}.svg?branch=master' /></p>
    <p>Travis CI will automatically run tests and check if your experiment has al the needed dependencies.</p>

    <p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#last-log-modal">View Log of Last Build</button></p>
      <p><a href="#" class="btn btn-default" id='build-now'>Build My Experiment Now</a></p>
      <p><a href="#" class="btn btn-default" id='disable-builds'>Disable Builds</a>
    </p>

  <div class="modal fade" id="last-log-modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Log from last build</h4>
      </div>
      <div class="modal-body">
        <p id='build-log' style="white-space: pre-wrap;">Loading log...</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  {% endif %}

  <script type="text/javascript">
    $(document).ready(function () {

    $('.modal').on('shown.bs.modal', function() {
        $.get({
            url: '{% url 'last_build_log' object_id object_type %}',
            data: {},
            success: function(data) {
              $('#build-log').html(data.log);
            }
          });
    });

      $('#enable-builds').click(function() {
        $.post({
          url: '{% url 'enable_ci_builds' %}',
          data: {'object_id': {{ object_id }}, 'object_type': '{{ object_type }}', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
          success: function(data) {
            if (data.enabled) {
              location.reload();
            }
          },
        });
      });

      $('#build-now').click(function() {
        $.post({
          url: '{% url 'build_experiment_now' %}',
          data: {'object_id': {{ object_id }}, 'object_type': '{{ object_type }}', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
          success: function(data) {
            if (data.build_started) {
                $('#build-status').html('Build started... please wait');
                location.reload();
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              $('#build-status').html('Something might have went wrong... please try again')
          },
        });
      });

      $('#disable-builds').click(function() {
        $.post({
          url: '{% url 'disable_ci_builds' %}',
          data: {'object_id': {{ object_id }}, 'object_type': '{{ object_type }}', 'csrfmiddlewaretoken': '{{ csrf_token }}' },
          success: function(data) {
            if (data.disabled) {
              location.reload();
            }
          },
        });
      });
    });
  </script>
{% endblock %}
