{% load bootstrap %}

{% block content%}
  {% if not configured %}
    <p>You have not enabled automatic Travis CI builds.</p>

    <h4>Step 1. Sign in</h4>
      <p>Sign in at least once into Travis CI with your GitHub account in order to enable automatic builds of your experiment:</p>
      <p><a href="https://travis-ci.org/" target="_blank">Travis CI</a></p>

    <h4>Step 2. Enable builds</h4>
      <p>Once you're signed in, enable builds now:</p>
      <p><a href="#" class="btn btn-primary" id='enable-builds'>Enable now</a></p>

  {% else %}
    <img src='https://travis-ci.org/{{ username }}/{{ reposlug }}.svg?branch=master' />
    <p class="lead">Travis CI will automatically run tests and check if your experiment has al the needed dependencies.</p>

    <p>
      <a href="#" class="btn btn-primary" id='build-now'>Build My Experiment Now</a>
      <a href="#" class="btn btn-default" id='disable-builds'>Disable Builds</a>
    </p>

    <h4>Log from last build</h4>

    <p id='build-log' style="white-space: pre-wrap;">Loading log...</p>
  {% endif %}

  <script type="text/javascript">
    $(document).ready(function () {

      $.get({
        url: '{% url 'last_build_log' experiment_id %}',
        data: {},
        success: function(data) {
          $('#build-log').html(data.log);
        },
      })

      $('#enable-builds').click(function() {
        $.post({
          url: '{% url 'enable_ci_builds' %}',
          data: {'experiment_id': {{ experiment_id }}, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
          success: function(data) {
            if (data.enabled) {
              location.reload();
            }
          },
        });
      });

      $('#build-now').click(function() {
        $.post({
          url: '{% url 'build_experiment_now' %}',
          data: {'experiment_id': {{ experiment_id }}, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
          success: function(data) {
            if (data.build_started) {
                $('#build-status').html('Build started... please wait')
                location.reload();
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              $('#build-status').html('Something might have went wrong... please try again')
          },
        });
      });

      $('#disable-builds').click(function() {
        $.post({
          url: '{% url 'disable_ci_builds' %}',
          data: {'experiment_id': {{ experiment_id }}, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
          success: function(data) {
            if (data.disabled) {
              location.reload();
            }
          },
        });
      });
    });
  </script>
{% endblock %}
