{% load bootstrap3 %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MOOC workbench</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    {% bootstrap_javascript %}
  </head>

  <body>
  {% include "menu.html" %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>