{% load bootstrap3 %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MOOC workbench</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    {% bootstrap_javascript %}
  </head>

  <body>
  {% include "menu.html" %}

    <script type="text/javascript">
        var userInfo = {
           authenticated : {% if user.is_authenticated  %} 'true' {% else %} 'false' {% endif %},
           username: '{{ user.username }}',
         }
    </script>
    <div id="content" style="width:80%;margin:auto;">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>