{% extends "base.html" %}


{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2>Welcome to the MOOC Workbench</h2>
            <h3>Activity Feed</h3>
            {% for activity in activities %}
                <p class="lead"><a href="{{ activity.get_absolute_url }}">{{ activity.get_activity_message }}</a></p>
            {% endfor %}
        </div>
        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-heading">Your Recent Experiments</div>
                <div class="panel-body">

                    {% for experiment in experiments %}
                        <p class="lead"><a
                                href="{% url "experiment_detail" experiment.id experiment.slug %}">{{ experiment.title }}</a>
                        </p>
                    {% endfor %}
                </div>
            </div>

            <a href="{% url 'experiment_new' %}" class='btn btn-primary'>Create New Experiment</a>
        </div>
    </div>
{% endblock %}
