{% extends "base.html" %}
{% load activity_tags %}


{% block content %}
  <div class="row">
    <div class="col-md-12">
        <h2>Welcome to the MOOC workbench</h2>
            <h3>Your Recent Experiments</h3>
            <ul>
            {% for experiment in experiments %}
                <li><a href="{% url "experiment_detail" experiment.id experiment.slug %}">{{ experiment.title }}</a></li>
            {% endfor %}
            </ul>
            <p>
              <a href="{% url "experiment_new" %}" class="btn btn-primary">Create new experiment</a>
            </p>
    </div>
  </div>
{% endblock %}
