a.headerlink {
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
    visibility: hidden;
}

span.nocode {
    display:block;
    background-color:darkgray;
    padding:2px;

}

#estyle {
    color:red;
}

#wstyle {
    color:yellow;
}

#cstyle {
    color:blue;
}