{% load bootstrap %}

{% block content %}

  <p class="lead">The MOOC workbench scans the progress of your experiment regularly.
    It checks your results from CI, your requirements, your tests and more.</p>

  <hr />
  <h3>What to do now?</h3>
  <ul>
    <li>Check out this repository using git clone <github-url></li>
    {% for what_now in what_now_list %}
      {% if what_now %}
      <li>{{ what_now }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  <hr />
  <h3>Docs</h3>
    <div id="docs-dashboard">
      <p>Loading...</p>
    </div>

  <hr />
  <h3>Version control</h3>
  <div id="vcs-dashboard">
    <p>Loading...</p>
  </div>

  <hr />
  <h3>Requirements</h3>
  {{ messages.Requirements }}

  <hr />
  <h3>Testing</h3>
  {{ messages.Testing }}

  <hr />
  <h3>CI</h3>
  <div id="ci-dashboard">
    <p>Loading...</p>
  </div>

  <script type='text/javascript'>
    $(document).ready(function() {
      url_dict = {
        'ci': "{% url 'build_status' experiment.id %}",
        'docs': "{% url 'docs_status' experiment.id %}",
        'vcs': "{% url 'vcs_overview' %}",
      }

      $("#docs-dashboard").load(url_dict['docs']);
      $("#ci-dashboard").load(url_dict['ci']);
      $("#vcs-dashboard").load(url_dict['vcs']);

  });
</script>
{% endblock %}
